{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 40",
          "FireFox >= 44",
          "Safari >= 7",
          "Explorer 10",
          "last 4 Edge versions"
        ]
      },
      "useBuiltIns": true
    }],
    "react"
  ],
   "env": {
     "docs": {
       "plugins": [
         "add-react-displayname",
         [
           "babel-plugin-react-docgen",
           {
             "DOC_GEN_COLLECTION_NAME": "REACT_DOCS"
           }
         ]
       ]
     }
   },
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
}


