{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "React": true,
    "fetch": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest",
    "import"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "generator-star-spacing": 0,
    "import/export": 2,
    "jsx-quotes": [2, "prefer-double"],
    "no-return-assign": 0,
    "no-unused-expressions": 0,
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-first-prop-new-line": [2, "multiline-multiprop"],
    "react/jsx-indent-props": 0,
    "react/jsx-no-bind": 2,
    "react/jsx-no-target-blank": 0,
    "react/no-array-index-key": 2,
    "react/no-multi-comp": [1, { "ignoreStateless": true }],
    "react/self-closing-comp": [2, {
      "component": true,
      "html": true
    }],
    "react/no-render-return-value": 0,
    "space-before-function-paren": 0,
    "standard/computed-property-even-spacing": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "env": {
    "jest/globals": true
  }
}
