body {
  padding: 0 10% 0 10%;
}
.container {
  max-width: 100%;
  width: 100%;
}
/* .container
{
    position: relative;
    left: 50%;
}

@media (min-width: 1230px)
{
    .container
    {
        width: 1280px;
        margin-left: -640px;
    }
}

@media (min-width: 1160px) and (max-width: 1229px)
{
    html
    {
        font-size: 9.5px;
    }

    .container
    {
        width: 1230px;
        margin-left: -615px;
    }
}

@media (min-width: 992px) and (max-width: 1159px)
{
    html
    {
        font-size: 8.2px;
    }

    .container
    {
        width: 1050px;
        margin-left: -525px;
    }
}

@media (min-width: 850px) and (max-width: 991px)
{
    html
    {
        font-size: 7.6px;
    }


    .container
    {
        width: 880px;
        margin-left: -440px;
    }
}

@media (min-width: 768px) and (max-width: 849px)
{
    html
    {
        font-size: 7.3px;
    }


    .container
    {
        width: 820px;
        margin-left: -410px;
    }
}

@media (max-width: 767px)
{
    html
    {
        font-size: 7px;
    }

    .container
    {
        left: 0 !important;
        right: 0 !important;
        padding: 0 15px !important;
    }
}

@media (max-width: 480px)
{
    html
    {
        font-size: 5.2px;
    }

    .col-ts-12
    {
        float: none;
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 992px)
{
    .col-md-23
    {
        width: 19.44444%;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .col-sm-offset-15
    {
        margin-left: 12.5%;
    }
} */
html, body {
  font-family: 'Open Sans', sans-serif; }

html {
  background: url('../themes/allthings/assets/img/background.gif') center -20vw repeat-y;
  background-size: 100%; }

body {
  background: none;
  position: relative;
  overflow-x: hidden; }

section {
  position: relative;
  z-index: 1; }

h1 {
  font-size: 3.4rem;
  line-height: 3.8rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.65rem; }

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
  margin-top: 4.05rem;
  /* margin-bottom: 2.6rem; */
  letter-spacing: -0.1rem;
  text-align: left;
  opacity: 0.9;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.05rem; }

.capital h2 {
  text-transform: uppercase; }

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  /* margin-bottom: 2.6rem; */
  letter-spacing: -0.1rem;
  text-align: left;
  opacity: 0.9; }

h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  /* margin-bottom: 2.4rem; */
  font-weight: 300; }

/* p {
  font-size: 2rem;
  color: #b2b2b2;
  font-weight: 300;
  text-align: center; } */

.col-centered {
  float: none;
  margin: 0 auto; }

.offset55 {
  margin-left: 6rem; }

.svg {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 131rem; }

tr td {
  padding: 5px;
  font-size: 14px;
}
tr th, th:first-child, td:first-child {
  padding: 5px;
}
td:nth-child(1) {
  font-weight: 700;
}
td:nth-child(2) {
  font-style: italic;
  opacity: 0.7;
}
td:nth-child(3) {
  opacity: 0.7;
}
tr:nth-child(even) {
  background: rgb(244, 244, 244);
}

@media (max-width: 767px) {
  h3 {
    font-size: 16px; }

  p {
    font-size: 14px; } }

.portrait_container {
  position: absolute;
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: #f7f9fa;
  border-radius: 50%;
  border: 10px solid white;
  left: 50%;
  transform: translate(-50%, 0); }

.portrait_img, .vcard img, #testimonies .testimony .portrait_container img {
  border: 4px solid white;
  position: absolute;
  border-radius: 64px;
  left: 50%;
  transform: translate(-50%, 0); }

.box_shadow, .vcard, #testimonies .testimony {
  position: relative;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2); }

@media (max-width: 480px) {
  .portrait_container {
    width: 140px;
    height: 140px;
    border: 8px solid white; }

  .portrait_img, .vcard img, #testimonies .testimony .portrait_container img {
    width: 110px;
    height: 110px;
    border-radius: 55px; } }

header.top-header {
  position: relative;
  height: 68.5rem;
  z-index: 5; }
  header .headerbg {
    position: absolute;
    width: 100%;
    height: 68.5rem; }
  header .navbar {
    margin: 0; }
  header .navbar-brand {
    padding: 0; }
    header .navbar-brand img {
      width: 160px;
      height: 80px;
      margin-top: 2rem;
      margin-left: 3.6rem; }
  header .navbar-nav li a {
    padding: 5rem 2rem 2rem;
    color: rgba(255, 255, 255, 0.7); }
  header .navbar-nav li.active > a {
    font-weight: bold;
    color: white; }
  header .navbar-nav li a:hover {
    color: white;
    background: none; }
  header .navbar-nav.navbar-right {
    margin-right: 15px; }
  header .navbar-nav.navbar-right li a {
    padding: 5rem 1rem 2rem; }
  header .nav .open > a, header .nav .open > a:focus, header .nav .open > a:hover {
    background: none;
    border: none; }
  header ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; }
  header ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.5);
    border: none; }
  header ul.dropdown-menu li a {
    padding: 5px 10px !important; }
  header ul.dropdown-menu li.active a {
    background: none; }
  header .navbar button {
    float: right;
    margin: 32px 28px 0 0; }
  header .navbar-toggle {
    border: none;
    box-shadow: none; }
  header .navbar-toggle:hover {
    background: none; }
  header .navbar-toggle .icon-bar {
    background-color: white;
    opacity: 0.7; }
  header .navbar-toggle:hover .icon-bar {
    opacity: 1; }
  header .text {
    position: relative;
    margin-top: 6.4rem;
    margin-left: 6rem;
    color: white;
    max-width: 80rem; }
  header .text a.button:first-of-type {
    margin-left: 0; }
  header .text h1 b {
    display: inline-block;
    font-size: 9.2rem;
    margin-top: -3rem;
    line-height: 8.5rem; }
  header .text p {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 300;
    margin: 4.2rem 0 0 0;
    letter-spacing: -0.05rem;
    color: white;
    text-align: left; }
  header img.shot {
    position: absolute;
    top: -5rem;
    right: -32.5rem;
    width: 39.4rem;
    z-index: 1; }
  @media (max-width: 1230px) {
  header #navbar button {
    display: none; }
  header .navbar-nav.navbar-right {
    margin-right: 30px; }
  header .headerbg {
    height: 71rem; } }
  @media (min-width: 1160px) and (max-width: 1229px) {
  header .navbar-brand img {
    margin-top: 1.9rem; } }
  @media (min-width: 992px) and (max-width: 1159px) {
  header .navbar-brand img {
    margin-top: 1.4rem; } }
  @media (max-width: 992px) {
  header .text {
    margin-left: 4rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
  header .navbar-collapse.collapse {
    display: none !important; }
  header .navbar-collapse.collapse.in {
    display: block !important; }
  header .navbar-header .collapse, header .navbar-toggle {
    display: block !important; }
  header .navbar-header {
    float: none; }
  header img.shot {
    width: 37rem; } }
  @media (max-width: 767px) {
  header.top-header {
    margin: 0 -15px;
    height: auto;
    padding-bottom: 11rem; }
    header .headerbg {
      min-width: 100rem;
      height: 100%; }

    header img.shot {
      right: -34.5rem; }

    header .text {
      margin-left: 0;
      margin-right: 17rem;
      padding: 0 15px; }

    header .text h1 {
      font-weight: 600; }

    header .text p {
      font-size: 2.7rem;
      line-height: 4rem; }

    header .text p:last-of-type {
      padding-bottom: 10rem; } }
  @media (max-width: 480px) {
  header .text p:last-of-type {
    text-align: center;
    margin-right: -3vw; } }

.vcard {
  margin: 50px 0 20px;
  padding: 110px 30px 30px 30px;
  text-align: center; }
  .vcard img {
    top: -34px; }
  .vcard h3 {
    margin: 4px 0 0 0;
    color: black;
    font-size: 32px;
    opacity: 0.5;
    font-weight: 300;
    text-transform: uppercase; }
  .vcard h3 + p {
    color: black;
    opacity: 0.5;
    font-weight: bold;
    margin: 0 0 4px;
    letter-spacing: -1px; }
  .vcard p.small {
    font-size: 14px;
    color: black;
    margin: 0; }
  .vcard .portrait_container {
    top: -50px; }

#testimonies h2 {
  margin-top: 8rem; }
  #testimonies .testimony {
    margin: 20px 0;
    position: relative;
    padding: 40px 30px 80px 30px; }
    #testimonies .testimony p {
      font-style: italic;
      color: black;
      opacity: 1;
      font-weight: 400;
      letter-spacing: -1px; }
    #testimonies .testimony .portrait_container {
      bottom: -80px; }
      #testimonies .testimony .portrait_container img {
        margin-top: 7px; }
  #testimonies .clients {
    margin-top: 100px;
    text-align: center; }
    #testimonies .clients img {
      margin: 10px 20px; }

@media (max-width: 480px) {
  #testimonies .testimony .portrait_container {
    bottom: -69px; }
    #testimonies .clients {
      margin-top: 80px; } }
/*
button, a.button {
  display: inline-block;
  border: none;
  background: #3598db;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 17px 20px 18px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.33);
  margin: 0 10px 16px;
  white-space: nowrap; }
  button:hover, a.button:hover {
    background: #297fb8;
    text-decoration: none; }
  button.light, a.button.light {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: none; }
    button.light:hover, a.button.light:hover {
      background: rgba(255, 255, 255, 0.3); }
  button.lghtgry, a.button.lghtgry {
    border: 1px solid #c6caca;
    background: none;
    color: #a3a7a6; }
    button.lghtgry:hover, a.button.lghtgry:hover {
      background: rgba(255, 255, 255, 0.3); }
  button.yellow, a.button.yellow {
    background: #e9c925; }
    button.yellow:hover, a.button.yellow:hover {
      background: #f39c11; }
  button.cyan, a.button.cyan {
    background: #7dc2d2; }
    button.cyan:hover, a.button.cyan:hover {
      background: #297fb8; }
  button.gray, a.button.gray {
    background: #aeb6bf; }
    button.gray:hover, a.button.gray:hover {
      background: #297fb8; } */

.radial_prog_container {
  max-width: 120rem;
  margin: 5rem auto 0; }

.radial_prog_container > div {
  padding: 0 2.5rem; }

.radial-progress {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  padding-bottom: 100%;
  -webkit-box-shadow: 0 0 5.3rem -0.6rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5.3rem -0.6rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5.3px -0.6rem rgba(0, 0, 0, 0.2); }
  .radial-progress .circle {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
    background-color: #efefef; }
  .radial-progress .mask, .radial-progress .fill, .radial-progress .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%; }
  .radial-progress .shadow {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2) inset; }
  .radial-progress .mask, .radial-progress .fill {
    -webkit-backface-visibility: hidden;
    border-radius: 50%; }
  .radial-progress .mask .fill {
    background-color: #7cc0d0;
    clip-path: polygon(0 0, 50.3% 0, 50.3% 100%, 0 100%); }
  .radial-progress .mask {
    clip-path: polygon(49.7% 0, 100% 0, 100% 100%, 49.7% 100%); }
  .radial-progress .mask.full, .radial-progress .mask .fill {
    /*transform: rotate(162deg);*/ }
  .radial-progress .inset {
    width: 73%;
    height: 73%;
    position: absolute;
    margin-left: 13.5%;
    margin-top: 13.5%;
    background-color: #fbfbfb;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center; }
    .radial-progress .inset h4 {
      margin: 20% 0 0 0;
      font-size: 1.1rem;
      font-weight: 300;
      opacity: 0.5;
      text-transform: uppercase; }
    .radial-progress .inset div {
      font-size: 5.4rem;
      line-height: 5.4rem;
      font-weight: bold;
      margin: 1% 0; }
    .radial-progress .inset p {
      width: 61%;
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin: 1.5rem auto 0; }
  .radial-progress.cyan .fill {
    background: #7dc2d2; }
    .radial-progress.cyan .inset div {
      color: #7dc2d2; }
  .radial-progress.mint .fill {
    background: #00bf93; }
    .radial-progress.mint .inset div {
      color: #00bf93; }
  .radial-progress.gray .fill {
    background: #adb5be; }
    .radial-progress.gray .inset div {
      color: #adb5be; }
  .radial-progress.yellow .fill {
    background: #f1c40f; }
    .radial-progress.yellow .inset div {
      color: #f1c40f; }

@media (max-width: 991px) {
  .radial-progress {
    width: 220px;
    padding-bottom: 220px;
    margin: 0 auto; }
    .radial-progress .inset h4 {
      margin-top: 36px;
      font-size: 12px; }
    .radial-progress .inset div {
      font-size: 40px;
      line-height: 40px; }
    .radial-progress .inset p {
      font-size: 15px;
      line-height: 16px; } }

.tag_container {
  max-width: 90%;
  margin: 2rem auto 0 auto; }

.tag {
  text-align: center;
  margin-top: 4rem; }
  .tag .content {
    padding: 10rem 0 0 0;
    background-color: white;
    border-radius: 7px;
    margin-top: -10rem;
    -webkit-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2); }
  .tag.col-lg-3 .content {
    height: 265px; }
  .tag h3 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 10px 0 0 0; }
  .tag p {
    font-size: 14px;
    color: black;
    font-weight: 400;
    padding: 10px 10px; }
  .tag .icon_container {
    position: relative;
    display: inline-block;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: 1rem solid white; }
  .tag img {
    border: 0.4rem solid white;
    position: absolute;
    border-radius: 7.2rem;
    width: 14.6rem;
    height: 14.6rem;
    top: 1.7rem;
    left: 50%;
    transform: translate(-50%, 0); }
  .tag:hover h3, .tag:hover p {
    color: white !important; }
    .tag:hover .content {
      -webkit-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.6); }
  .tag.yellow .icon_container {
    background: #f1c40f; }
    .tag.yellow h3 {
      color: #f1c40f; }
    .tag.yellow:hover .icon_container {
      border: 10px solid #f1c40f; }
      .tag.yellow:hover .content {
        background: #f1c40f; }
  .tag.gray .icon_container {
    background: #adb5be; }
    .tag.gray h3 {
      color: #adb5be; }
    .tag.gray:hover .icon_container {
      border: 10px solid #adb5be; }
      .tag.gray:hover .content {
        background: #adb5be; }
  .tag.cyan .icon_container {
    background: #7dc2d2; }
    .tag.cyan h3 {
      color: #7dc2d2; }
    .tag.cyan:hover .icon_container {
      border: 10px solid #7dc2d2; }
      .tag.cyan:hover .content {
        background: #7dc2d2; }
  .tag.mint .icon_container {
    background: #00bf93; }
    .tag.mint h3 {
      color: #00bf93; }
    .tag.mint:hover .icon_container {
      border: 10px solid #00bf93; }
      .tag.mint:hover .content {
        background: #00bf93; }
  .tag.green .icon_container {
    background: #31c02d; }
    .tag.green h3 {
      color: #31c02d; }
    .tag.green:hover .icon_container {
      border: 10px solid #31c02d; }
      .tag.green:hover .content {
        background: #31c02d; }

@media (min-width: 992px) and (max-width: 1200px) {
  .tag_container {
    max-width: 85%; }

  .tag.col-lg-6 .content {
    height: 265px; }

  .tag.col-md-6 .content {
    height: 220px; } }

@media (max-width: 767px) {
  .tag_container {
    margin: 2rem -7.5px 0 -7.5px;
    max-width: none; }

  .tag {
    padding: 7.5px; }
    .tag .content {
      margin-top: -70px;
      padding-top: 70px; }
    .tag .icon_container {
      position: relative;
      display: inline-block;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      border: 7px solid white; }
    .tag img {
      border: 4px solid white;
      position: absolute;
      border-radius: 51px;
      width: 102px;
      height: 102px;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0); } }

@media (max-width: 480px) {
  .tag.col-lg-3 .content {
    height: auto;
    padding-bottom: 20px; } }

.module-container {
  margin-left: 6rem; }
  .module-container .shot h3 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    left: 50%;
    top: 4rem;
    transform: translate(7rem, 0); }

.module-list {
  padding: 0 3rem 0 0;
  margin-top: 3.4rem; }
  .module-list h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .module-list p {
    margin-top: 15px;
    font-size: 14px;
    opacity: 1 !important; }
  .module-list .modules {
    background-color: white;
    border-radius: 0.7rem;
    width: 100%;
    padding: 10px;
    text-align: center; }
    .module-list .modules .colorbar {
      width: 100%;
      height: 17px;
      border-radius: 8px; }
      .module-list .modules .colorbar.yellow {
        background-color: #e1c224; }
      .module-list .modules .colorbar.blue {
        background-color: #3598db; }
      .module-list .modules .colorbar.green {
        background-color: #3acd4c; }
      .module-list .modules .colorbar.magenta {
        background-color: #e52384; }
    .module-list .modules ul {
      list-style: none;
      padding: 0; }
    .module-list .modules li {
      position: relative;
      border: 1px solid #ebebeb;
      padding: 1.4rem 1.5rem;
      margin: 8px 0 0 0;
      border-radius: 0.7rem;
      color: #525252;
      cursor: pointer;
      text-align: left;
      font-size: 1.4rem; }
    .module-list .modules li.checked:before {
      position: absolute;
      font-family: 'Glyphicons Halflings';
      content: "\e013";
      color: #e1e1e1;
      right: 8px;
      top: 9px;
      font-size: 20px; }
    .module-list .modules li.checked {
      background: #f2f2f2; }
    .module-list .modules li img {
      margin-right: 0.7rem;
      width: 23px; }
    .module-list .modules .border {
      border: 2px solid #ebebeb;
      border-radius: 0.7rem;
      margin-top: 8px; }
      .module-list .modules .border li:before {
        position: absolute;
        font-family: 'Glyphicons Halflings';
        content: "\e157";
        color: #bfbfbf;
        left: 6px;
        top: unset;
        font-size: 16px; }
      .module-list .modules .border li {
        border: none;
        padding: 5px 5px 2px 30px; }
      .module-list .modules .border li.checked:before {
        content: "\e013"; }
      .module-list .modules .border li.checked {
        background: none; }
      .module-list .modules .border .dots {
        margin-bottom: 10px; }

@media (max-width: 991px) {
  .module-container {
    margin: 0 15px; }
    .module-container .shot h3 {
      top: 6rem;
      transform: translate(9rem, 0); }
      .module-container .shot img {
        max-width: 55rem;
        margin: 0 auto; }

  .module-list .modules li {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-size: 13px; } }

@media (max-width: 767px) {
  .module-container {
    margin: 0; }
    .module-container .shot {
      padding: 0; }
      .module-container .shot h3 {
        left: 50%;
        top: 6rem;
        transform: translate(9rem, 0); }
      .module-container .shot img {
        max-width: 55rem; }

  .module-list {
    padding: 0;
    max-width: 300px;
    margin: 0 auto; }
    .module-list p {
      margin-top: 13px;
      font-size: 13px; } }

@media (max-width: 480px) {
  .module-container {
    margin: 0; }
    .module-container .shot h3 {
      top: 8vw;
      transform: translate(12vw, 0); }
      .module-container .shot img {
        max-width: 100%; } }

footer {
  margin: 10rem 5.5rem 0 5.5rem;
  border-top: 1px solid #dedbde;
  padding-top: 4rem;
  font-size: 13px;
  color: #95a5a5;
  min-height: 500px;
  padding-bottom: 6rem; }
  footer .copy {
    padding-top: 40px; }
  footer h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0 30px; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer li {
    margin: 0 0 5px; }
  footer a {
    color: #95a5a5; }
  footer a:hover {
    color: #555; }

@media (min-width: 1260px) {
  footer .col-lg-25 {
    width: 20.83%; } }

@media (max-width: 500px) {
  footer {
    margin: 8rem 2rem 0 2rem; } }

#one {
  margin-top: 100px;
  z-index: 3; }

#two {
  margin-top: -8rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  color: white;
  z-index: 2;
  background: url(/svg/shape2.svg?g=blue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }
  #two h2 {
    opacity: 0.9;
    margin-top: 7rem; }
  #two h2.capital {
    margin-top: 6rem; }
  #two p {
    opacity: 0.5;
    color: white; }
  #two .capital h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: left;
    font-weight: 300; }
  #two .facts {
    margin-left: 9.4rem; }
  #two img.shot {
    position: absolute;
    top: 56.2rem;
    right: -39rem;
    width: 113.2rem; }
  #two .checkfact {
    background: url(../themes/allthings/assets/img/checkmark.png) no-repeat;
    background-position: 0 2rem;
    padding-left: 8.2rem;
    margin-top: 4.8rem; }
  #two .checkfact h4 {
    font-size: 2rem;
    font-weight: bold; }
  #two .checkfact p {
    font-size: 1.6rem;
    text-align: left;
    opacity: 1; }
  #two .cta {
    margin-top: 6rem; }

#four {
  z-index: 10; }
  #four h2 {
    margin-top: 16rem; }
  #four p.note {
    font-size: 14px;
    margin-top: 4rem;
    color: white;
    opacity: 0.5; }

#five {
  margin-top: -25rem;
  padding-top: 32rem;
  padding-bottom: 14rem;
  color: white;
  background: url(/svg/shape1.svg?g=purple);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }
  #five p {
    color: white;
    opacity: 0.5; }
  #five img.apps {
    position: absolute;
    right: 1rem;
    top: 19rem;
    width: 54.8rem; }
  #five button {
    margin-top: 10rem; }

#questions h2, #seven h2 {
  margin-top: 10rem; }

@media (min-width: 768px) and (max-width: 991px) {
  #two .capital h2 {
    margin-top: 4rem; }
    #two .facts {
      margin-left: 7rem; }
    #two img.shot {
      position: absolute;
      top: 57rem;
      right: -36rem;
      width: 102rem; }
    #two .checkfact {
      background-position: 0 0.5rem;
      background-size: 5.5rem;
      padding-left: 7rem;
      margin-top: 3rem; }
    #two .checkfact h4 {
      font-size: 2rem; }
    #two .checkfact p {
      font-size: 1.8rem; } }

@media (max-width: 767px) {
  #two .capital h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 4rem; }
    #two .facts {
      margin-left: 30px; }
    #two img.shot {
      display: none; }
    #two .checkfact {
      background-position: 0 0;
      background-size: 30px;
      padding-left: 42px;
      margin-top: 24px; }
    #two .checkfact h4 {
      font-size: 14px;
      font-weight: 600; }
    #two .checkfact p {
      font-size: 13px; } }

.asset-manager header .shot, .developer header .shot, .real-estate header .shot, .users header .shot {
  width: 94.4rem;
  right: -80rem; }
  .asset-manager #five, .developer #five, .real-estate #five, .users #five {
    background: url(/svg/shape1.svg?g=darkblue) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center; }
  .asset-manager #five.light, .developer #five.light, .real-estate #five.light, .users #five.light {
    background: none;
    color: black;
    margin: 7rem 0;
    padding: 0; }
    .asset-manager #five.light p, .developer #five.light p, .real-estate #five.light p, .users #five.light p {
      color: black; }
    .asset-manager #five.light .modules, .developer #five.light .modules, .real-estate #five.light .modules, .users #five.light .modules {
      -webkit-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 53px -6px rgba(0, 0, 0, 0.2); }
    .asset-manager #five.light button, .developer #five.light button, .real-estate #five.light button, .users #five.light button {
      margin-top: 5rem; }
  .asset-manager #two, .developer #two, .real-estate #two, .users #two {
    background: url(/svg/shape2.svg?g=yellow) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10rem;
    padding-top: 12rem; }
    .asset-manager #two .shot, .developer #two .shot, .real-estate #two .shot, .users #two .shot {
      position: absolute;
      top: 30rem;
      left: -22rem;
      width: 91.4rem; }
    .asset-manager #two .facts, .developer #two .facts, .real-estate #two .facts, .users #two .facts {
      margin-left: 47%;
      margin-right: 4rem; }
    .asset-manager #two .cta, .developer #two .cta, .real-estate #two .cta, .users #two .cta {
      margin-bottom: 5rem; }
  @media (min-width: 992px) {
  .asset-manager #five:not(.light) .shot img, .developer #five:not(.light) .shot img, .real-estate #five:not(.light) .shot img, .users #five:not(.light) .shot img {
    position: absolute;
    width: 68.5rem;
    max-width: 68.5rem;
    margin-left: -2rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
  .asset-manager header img.shot, .developer header img.shot, .real-estate header img.shot, .users header img.shot {
    width: 89rem; }
  .asset-manager #two img.shot, .developer #two img.shot, .real-estate #two img.shot, .users #two img.shot {
    left: -29rem; } }
  @media (max-width: 767px) {
  .asset-manager header img.shot, .developer header img.shot, .real-estate header img.shot, .users header img.shot {
    right: -92rem; }
    .asset-manager header .text, .developer header .text, .real-estate header .text, .users header .text {
      margin-left: 0;
      margin-right: 21rem;
      padding: 0 15px; }
  .asset-manager #two .facts, .developer #two .facts, .real-estate #two .facts, .users #two .facts {
    margin-left: 30px; } }

.developer #two {
  background: url(/svg/shape2.svg?g=cyan) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }

.real-estate #two {
  background: url(/svg/shape2.svg?g=gray) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }

.users #two {
  background: url(/svg/shape2.svg?g=green) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -11rem; }
  .users #five {
    padding-top: 18rem;
    margin-top: 10rem; }
